<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.nlpproj.servlet.Home_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news1</servlet-name>
    <servlet-class>com.nlpproj.servlet.Proj_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news1</servlet-name>
    <url-pattern>/news1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news1_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet.News1tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news1_tuples</servlet-name>
    <url-pattern>/news1_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news2_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet2.News2tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news2_tuples</servlet-name>
    <url-pattern>/news2_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news3_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet3.News3tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news3_tuples</servlet-name>
    <url-pattern>/news3_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news4_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet4.News4tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news4_tuples</servlet-name>
    <url-pattern>/news4_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news5_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet5.News5tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news5_tuples</servlet-name>
    <url-pattern>/news5_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news6_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet6.News6tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news6_tuples</servlet-name>
    <url-pattern>/news6_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news7_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet7.News7tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news7_tuples</servlet-name>
    <url-pattern>/news7_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news8_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet8.News8tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news8_tuples</servlet-name>
    <url-pattern>/news8_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news9_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet9.News9tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news9_tuples</servlet-name>
    <url-pattern>/news9_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news10_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet10.News10tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news10_tuples</servlet-name>
    <url-pattern>/news10_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news11_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet11.News11tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news11_tuples</servlet-name>
    <url-pattern>/news11_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news12_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet12.News12tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news12_tuples</servlet-name>
    <url-pattern>/news12_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news13_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet13.News13tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news13_tuples</servlet-name>
    <url-pattern>/news13_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news14_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet14.News14tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news14_tuples</servlet-name>
    <url-pattern>/news14_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news15_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet15.News15tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news15_tuples</servlet-name>
    <url-pattern>/news15_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news16_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet16.News16tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news16_tuples</servlet-name>
    <url-pattern>/news16_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news17_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet17.News17tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news17_tuples</servlet-name>
    <url-pattern>/news17_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news18_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet18.News18tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news18_tuples</servlet-name>
    <url-pattern>/news18_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news19_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet19.News19tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news19_tuples</servlet-name>
    <url-pattern>/news19_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news20_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet20.News20tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news20_tuples</servlet-name>
    <url-pattern>/news20_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news21_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet21.News21tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news21_tuples</servlet-name>
    <url-pattern>/news21_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news22_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet22.News22tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news22_tuples</servlet-name>
    <url-pattern>/news22_tuples</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news23_tuples</servlet-name>
    <servlet-class>com.nlpproj.servlet23.News23tuples_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news23_tuples</servlet-name>
    <url-pattern>/news23_tuples</url-pattern>
  </servlet-mapping>
</web-app>